{% extends "base2.html" %}



{% block showprofilebutton %}
   <a href="{{ url_for('student.showStudentProfile') }}"><i class="fa fa-fw fa-user"></i> Profile</a>
{% endblock %}
    
 



 {% block sidenavbar %}
 <li class="active">
      <a  href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
 </li>
 <li class="active">
      <a href="index.html"><i class="fa fa-fw fa-history"></i> Medical History</a>
 </li> 
 <li class="active">
      <a href="index.html"><i class="fa fa-fw fa-plus-square"></i> Appointments</a>
 </li>
 {% endblock %}   






                     
                    
    
                   
                   

    



              
