{% extends "base2.html" %}


{% block profilename %}
Pharmacist
{%  endblock %}

{% block head%}
{{super()}}


{% endblock %}



 {% block sidenavbar %}
  <li class="semibold">
      <a href="{{url_for('pharma.stockUpdate')}}"><i class="fa fa-fw fa-history"></i> Notifications</a>
 </li> 
 <li class="semibold">
      <a  href="{{url_for('pharma.stockUpdate')}}"><i class="fa fa-fw fa-dashboard"></i>History</a>
 </li>

 <li class="semibold">
      <a href="{{url_for('pharma.stockUpdate')}}"><i class="fa fa-fw fa-plus-square"></i>Stock update</a>
 </li>
 {% endblock %}   


