<div id="card" style="display: none">
  <div class="card-bg" style="display:none;">
    <div class="card-heading">
      <h4 class="pres-id"> #49 </h4>
      <h4 class="doctor-name"> Dr. Bhaskar Bhandary </h4>
      <p class="pres-time"> 8-4-2016 8:00</p>
    </div>
    <div class="card-subtitle">
      <h5 class="patient-name"> Dhiraj Bhakta </h5>
      <h5 class="diagnosis"> Back ache </h5>
    </div>
    <div class="card-body">
      <table class="table-striped table drug-table">
        <tr>
          <th> Name </td>
          <th> Qty </td>
       </tr>        
      </table>
      <div class="buttons">
        <a href="#" class=" card-button confirm"> CONFIRM </a>
        <a href="#" class=" card-button reject"> REJECT </a>
    </div>
  </div>
</div>