{% extends "pharma/basePharmaTemplate.html" %}

{% block head %}
{{super()}}
<style>
.autocompl_drugname{
  width:100%;
}
</style>
{% endblock %}







<!--body-->
{% block emptyspace %}

	<table class="table table-condensed" id="stockTBL" >
	<tr class="tablehead semibold darkercolor">
	   <th>DRUG NAME</th>
	   <th>QTY</th>
	   <th>BATCH NUMBER</th>
	   <th>EXPIRY DATE</th>  
	</tr>
     		<tr class="tablerows">
	   			<td>
	   				<input class="autocompl_drugname large">
	   			</td>
	   			<td ><input type="text" class="small QTY"     disabled="true" /></td>
	   		  <td ><input type="text" class="small BATCHNO" disabled="true" /></td>
	   			<td ><input type="text" class="small EXPDATE" disabled="true" /></td>

	   		</tr>
	</table>
	<button class="btn btn-success" id="expandBTN">Extend</button>
  <button class="btn btn-danger" id="submitBTN">Submit</button>

  <div id="stockUpdateWarnings">
  </div>
{% endblock %}










<!--JS-->
{% block extrascripts %}
<script>
//The Recieved JSON drugList
var druglist=[];

//On Load
$(document).ready(function() {
  $.get("/pharma/getDruglist",function (data){
  	 data = $.parseJSON(data);
     for(var i=0;i<data.length;i++)
       druglist[i] = data[i]; 
    });
  first_input = $('.autocompl_drugname')[0];
  input_eventlistener_adder(first_input);
  $(first_input).autocomplete({
    source:druglist
  });
});


function required(input)
{
  if(this.value == "")
  {
    $('#stockUpdateWarnings').append("<p style='color:red'>Fields are empty</p>");
  }
}

function digit(input)
{
  if($.isNumeric(input.value))
  {
    $('#stockUpdateWarnings').append("<p style='color:red'>Enter Numeric Value in QTY</p>");
  }
}

//form-validation function
function validate_all()
{ 
  var result=true;
  $('.QTY').each(function()
  {
      if (!this.disabled == "true")
      {
          result=required(this);
          result=digit(this);
      } 
  });


 return result;
}


document.getElementById("submitBTN").addEventListener("click",function(){
  
  if(validate_all())
 {
    json_data = table_to_JSON(document.getElementById("stockTBL"));
    $.ajax({
       url: '/pharma/stockUpdateSubmit',  data: json_data,  
       contentType:"application/json; charset=utf-8", 
       type : 'POST', async: "false",  success  : function (serverResponse) {}}
    );
 }
});



function add_row_after(row)
{
  var $newRow = $(row).clone();
  $(row).after($newRow);
  console.log("ROw added");
  
  var $newInput = $newRow.find(".autocompl_drugname");
  $newInput.val("");
  var newInput = $newInput.get(0);

  
  $newInput.autocomplete({
    source:druglist
  })
  
  input_eventlistener_adder(newInput);

}

function input_eventlistener_adder(newInput)
{
  newInput.hasGivenBirth=false;
  newInput.addEventListener("input",function(){
       var text = this.value;
       if(text != "" && this.hasGivenBirth==false)
       { 
         this.hasGivenBirth = true;
         var $row = $(this).parent().parent();
         add_row_after($row);
         $row.find('.small').each(function(){
          $(this).removeAttr('disabled');
         });
       }  
  });
}


function table_to_JSON (table) {
  var data = {};
  var headers = [];
  for (var i=0; i< table.rows[0].cells.length ;i++)
  	headers[i] = table.rows[0].cells[i].innerHTML.toLowerCase().replace(/ /gi,'');
  console.log(headers);
  for (var i=1;i<table.rows.length;i++)
  {
  	var rowdata = {};
  	var tablerow = table.rows[i];
  	for (var j=0; j<tablerow.cells.length;j++)
  	{
  		rowdata[headers[j]] = tablerow.cells[j].children[0].value;
  	}
  	data[i] = rowdata;
  }
  
 json = JSON.stringify(data); 
 console.log(json);
 return json;
}

</script>



{% endblock %}