{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{super()}}
<style>
 .pad-med{
        padding:10px;
        margin-bottom:2px
    }
 
</style>
{% endblock %}

{% block title %}HCC- Register{% endblock %}

{% block page_content %}
<div class="col-md-4 darkestcolor pad centeralign">
	<div class="paddarkestcolor">
	    <h1 class="pad roundedborder lightestcolor">Register</h1>
	</div>


	<div class="lightestcolor pad roundedborder">
	    {{ wtf.quick_form(form) }}
	</div>
</div>
{% endblock %}