{% extends "base2.html" %}


{% block profilename %}
{{patient.name}}
{%  endblock %}

{% block head%}
{{super()}}
{% endblock %}


{% block showprofilebutton %}
   <a href="{{ url_for('patient.showPatientProfile') }}"><i class="fa fa-fw fa-user"></i> Profile</a>
{% endblock %}
    
 



 {% block sidenavbar %}
  <li class="semibold">
      <a href="{{url_for('patient.showMedicalHistory')}}"><i class="fa fa-fw fa-history"></i> Medical History</a>
 </li> 
 <li class="semibold">
      <a  href="{{url_for('patient.showPatientProfile')}}"><i class="fa fa-fw fa-dashboard"></i>Profile</a>
 </li>

 <li class="semibold">
      <a href="{{url_for('patient.bookAppointment')}}"><i class="fa fa-fw fa-plus-square"></i> Appointments</a>
 </li>
 {% endblock %}   






                     
                    
    
                   
                   

    



              
