{% extends "patient/basePatientTemplate.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static',filename='css/jquery-ui.min.css')}}">

<style type="text/css">
	 .profile-header-appointment{
     color:white;   
     margin-top:0px;
     margin-bottom:0px;
	 padding-top:10px;
     padding-bottom: 2px;
     box-shadow: 0px 1px 1px gray;
    }   
	.category{
		border-left-style: solid;
		border-left-color: #cce6ff;
		border-left-width:10px;
	}
	.category:hover{
		background-color: white !important;
		color:black;
	}
	.response-box{
		visibility: hidden;
		margin:auto;
    }
	#datepicker{
		width:230px;
	}
	#response{
		color:rgb(4,67,78);
		background-color: #cde9fe;
		padding:5px;
		border-radius: 5px;
		text-align: center;
        font-size:40px;
        text-transform: uppercase;

	}

	.lvl2{
		font-size:20px;
		color:#042d70;
		margin:0px;
		padding-left:5px;
		margin-top:5px;


	}
	.lvl1{
		font-family: 'Roboto', sans-serif;
		font-size:30px;
		color:WHITE;
		text-transform:uppercase;
		margin-bottom: 30px;
		padding-left: 20px;

	}
	.details-wrap{
        box-shadow: 1px 1px 2px grey;
        margin-bottom: 2px;
        padding:0px !important;
        visibility: hidden;
        
	}
	.heading{
		color:#02608e;
		font-weight: bolder;
		text-align: center;
		background-color: white;
		border-top:8px solid #037dba;

	}
	.hide{
		visibility: hidden;
	}
	.confirm-btn{
		margin: 15px;
		visibility: hidden;
		border-radius: 0px;
	}
	.white-bold{
		color:white;
		font-weight: bold;

	}
	li.item{
		background-color: white;
		color:black;
		font-size: 18px;
		list-style-type: none;
		padding:15px;
		border-radius:2px;
		border:1px solid #51A3F4;
		border-left:15px solid #51A3F4;
		border-bottom:1px solid white;
		box-shadow: 3px 3px #BBBEC2 ;
		
		margin:10px;
	}
	li.reditem{
		background-color: white;
		color:black;
		font-size: 18px;
		list-style-type: none;
		padding:15px;
		border-radius:2px;
		border:1px solid #51A3F4;
		border-left:15px solid #ff1e1e;
		border-bottom:1px solid white;
		box-shadow: 3px 3px #BBBEC2 ;
		
		margin:10px;
	}
	.cancel-btn{
		margin-top:5px;
	}
	.app-header{
		margin-bottom: 10px;
		padding-left: 20px;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-size:20px;

	}
	.ba{
		padding:20px;
		border-radius:5px;
	}

</style>
{% endblock %}


  {% block pageheader %}
  Appointments
  {% endblock %}

  {% block emptyspace %}


	<div class="ba lightestcolor2" id="booked-appointments" style="display:none">
		<div class="row">
			<div class="col-md-8 " >
				<p class="robotofont" style="font-size:30px;">Booked Appointments</p>
			</div>
		</div>
		<div class="">
			<ul id="booked-appointments-list">
				<!--- Appointments get inserted here -->

			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-8  lightestcolor">
			<p class="robotofont" style="font-size:30px;">Book an Appointment</p>
		</div>
	</div>
  <div class="row lightestcolor" id="mainrow">
	  <div class="btn-group-vertical btn-group-lg col-lg-4 sidebarfont">
	    <button type="button" class="category btn btn-info" name="PAEDIATRICS">Paediatrician</button>
	    <button type="button" class="category  btn btn-info" name="OPTHALMOLOGY"> Opthalmologist</button>
	    <button type="button" class="category btn btn-info" name="ENT">ENT </button>
	    <button type="button" class="category btn btn-info" name="GYNAECOLOGY"> Gynaecologist</button>
	    <button type="button" class="category btn btn-info" name="DERMATOLOGY">Dermatologist </button>
	    <button type="button" class="category btn btn-info" name="ORTHOPAEDICS">Orthopaedics </button>
	    <button type="button" class="category btn btn-info" name="HOMEOPATHY">Homeopathy </button>
	    <button type="button" class="category btn btn-info" name="AYURVEDA">Ayurveda </button>
	    <button type="button" class="category btn btn-info" name="DENTISTRY"> Dentist</button>
	    <button type="button" id="aaa" class="category btn btn-info" name="PSYCHIATRY"> Psychiatrist</button>
		</div>
	  	
		<div class="col-md-8">

			<p id="response" class="robotofont">Select a Category</p>
			<div class="row" >

			<div class="row response-box" id="response-box">
				<p>Date: <input type="text" class="form-control" id="datepicker" /></p>
			</div>

				<div class="col-md-3"></div>
				<div class = "col-md-5 details-wrap" >
					<div  id="appointment-card" class="profile-header-appointment darkcolor">
						<p class="app-header">Appointment</p>
						<p id="doctor-name" class="lvl1"></p>

					</div>
					<div style="padding:20px">
						<p id="date-details" class="lvl2"></p>
						<p id="time-details" class="lvl2"></p>
					</div>
					<div class="row" style="padding:20px"> 
						<div class="col-lg-10">
							<button type="button"  class=" btn btn-success btn-block confirm-btn " id="confirm-btn">Confirm</button>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>



  {% endblock %}


  {% block extrascripts %}
  <script src="{{url_for('static',filename='js/jquery-ui.min.js')}}"></script>	
  <script type="text/javascript">
    var selectedCalendarID;
    var appstatus = "BOOKED";

  	$(document).ready(function(){
  		$.get("/patient/getBookedAppointments",function(data){
  			data = $.parseJSON(data)
  			console.log(data)
  			if( data.length != 0)
  			{	
  			   console.log(data);
  			   $("#booked-appointments").css('display', '');	
  			   for(var i=0;i<data.length;i++)
  			   {
  			   	console.log(data[i])
  			   	 var category = (data[i].category).toLowerCase();
  			   	 category = capitalize(category);
  			   	 var docName = "Dr."+data[i].doctorName +' ('+category+')';
  			   	 var date = new Date(data[i].date);
  			   	 date = "Date: "+date.toDateString();
  			   	 var startTime = data[i].startTime;
  			   	 var endTime = data[i].endTime;
  			   	 var status = data[i].status;

  			   	 dispStr = date+"<span style=\"float:right\">"+docName+"<br>"+startTime+" to "+endTime+"</span><br> <button type='button' name='SLOTID' onclick='deleteAppointment(this);' value='"+data[i].slotID+"' class='btn btn-danger cancel-btn'>Cancel Appointment</button>";
  			   	 if (status == "BOOKED")
  			   	 { 
  			   	 	$("#booked-appointments-list").append("<li class=\"item\">"+dispStr+" </li>");
  			   	 }
  			   	 else{
  			   	 	$("#booked-appointments-list").append("<li class=\"reditem\">"+dispStr+" </li>");

  			   	  }
  			   }


            }
  		});
  			
  		});

      function deleteAppointment(btn){
  			slotID = btn.value;
  			btn = $(btn);
  			$.post('/patient/deleteBookedAppointment',{ SLOTID:slotID},function(boolData){
  				if(boolData == "true")
  				{
  					li_item = btn.parent();
  					li_item.remove();
  					location.reload();
  				}
  			});
  		}
  	
  	$(".category").click(function(){
	    var btnname = this.name
	  	$.get("/patient/bookAppointment",{ CATEGORY:btnname } ,function(data){
	  		data = $.parseJSON(data);
	  		console.log(data)
	  		$("#response").html(btnname);
	  		


	  		$('#response-box').css('visibility','visible');
	  		$('.details-wrap').css('visibility','hidden');
	  		$('.confirm-btn').css('visibility','hidden');


	    	$("#datepicker").remove();
	    	var t_datepicker = $("<input type=\"text\" class=\"form-control\" id=\"datepicker\" />");
	    	$( "#response-box" ).append(t_datepicker);
	    	
	    	$( "#datepicker" ).datepicker({
			    dateFormat: "dd-mm-yy",
			    beforeShowDay: function(date) {
			    	for( var i=0;i<data.length;i++)
			    	{
			    		var t_date = new Date(data[i].date);
			    		if( cmpDates(t_date,date))
			    		   return [true];
			    	}
			        return [false];
			    },
			    onSelect: function(date){
			       $('.response-box').css('visibility','visible');
			       $('.details-wrap').css('visibility','visible');
			       $('#confirm-btn').css('visibility','visible');


                    var selectedDate = $(this).datepicker('getDate');
			    	var selectedStartTime;
			    	var selectedEndTime;
			    	for( var i=0;i<data.length;i++)
			    	{
			    		var t_date = new Date(data[i].date);
			    		if( cmpDates(t_date,selectedDate))
			    		{
			    			selectedCalendarID = data[i].calendarID;
			    			doctorName = data[i].doctorName;
			    		    selectedStartTime = data[i].startTime;
			    		    selectedEndTime = data[i].endTime;
			    		    sessionLimit = data[i].sessionLimit;

			    		    break;
			    		}    
			    	}
			    	displayDateString = formatDate(selectedDate) ;
 					displayTimeStringStart = formatTime(selectedStartTime);
 					displayTimeStringEnd = formatTime(selectedEndTime);

 					if(sessionLimit<0)
 					{
 						$("#appointment-card").css("background-color","red");
 						appstatus = "WAITING";
 					}
 					else
 						appstatus = "BOOKED";
 					
			    	$('#date-details').html("<span><i class=\"fa fa-calendar\" aria-hidden=\"true\"></i> </span> "+displayDateString);
			    	$('#doctor-name').html("<span class=\"white-bold\">Dr."+doctorName+ "</span> ");
			    	$('#time-details').html("<span><i class=\"fa fa-clock-o\" aria-hidden=\"true\"></i></span>  "+displayTimeStringStart +" to "+displayTimeStringEnd);

			    }
			});//end of datepicker

	  	});//end of $.get callback functiom
    }); //endof click event


    $("#confirm-btn").click(function(){
   		$.post("/patient/bookAppointment",{CALENDARID:selectedCalendarID,APPSTATUS:appstatus},function(data){
   			$("#mainrow").html("<button type='button' class='btn btn-success' style='padding:60px;border-radius:100px'><i  style='font-size:75px;color:black' class='fa fa-check'></i></button> <span style='font-size: 50px'> Success!</span>");
   			$("#booked-appointments").css('visibility','hidden');
   		});
    });
    




    function cmpDates(d1,d2)
    {
    	if(d1.getDate() == d2.getDate() &&
    		d1.getMonth() == d2.getMonth() &&
    		d1.getYear() == d2.getYear())
    		return true;
    	else
    		return false;
    }

    function capitalize(string)
    {
    	return string.charAt(0).toUpperCase() + string.slice(1);
    }
    function formatDate(date) {
    	var str = date.getDate()+"/"+date.getMonth()+"/"+date.getFullYear();
    	return str;
    }
     function formatTime(timestr) {
       
        console.log(timestr);
        var str = timestr.split(':');

      	return str[0]+":"+str[1];
    }

 
  </script>
 
  {% endblock %}

