{% extends "base2.html" %}


{% block head %}
{{super()}}
<style>

.tableheading{
  color:white;
  border:2px solid gray;
  border-radius:20px;
}

  .container{
    background-color:#ccc;
  }
  .title{
    color:#000;
    text-align:center;
    padding-bottom:30px;
  }
  
  .center{
    margin:auto;
    float:none;
  }
  .visit{
    padding:0px;
    margin-bottom:15px;
    margin-top:15px;
  }
  .visit-desc{
    padding:10px;
  }
  .visit-title{
    padding:10px;  
  }
  .visit-title:hover{
    background-color:#fff;
    cursor:pointer;
  }

  .doctor-name{
    font-size:18px;
    
  }
  .visit-date{
    font-size:16px;
  }
  .ailment{
      font-size:20px;

  }
  .pad{
    padding:10px;
  }
</style>
{% endblock %}

{% block profilename %}
Dr.{{doctorUser.doctorName}}
{%  endblock %}



{% block showprofilebutton %}
   <a href="{{ url_for('doctor.showDoctorProfile') }}"><i class="fa fa-fw fa-user"></i> Profile</a>
{% endblock %}
  




 {% block sidenavbar %}
 <li class="darkercolor sidebarlistitem">
      <a  href="{{ url_for('doctor.showWorkbench') }}"><i class="fa fa-fw fa-dashboard"></i> Workbench</a>
 </li>
 <li class="darkercolor sidebarlistitem">
      <a href="{{ url_for('doctor.showHistory') }}"><i class="fa fa-fw fa-history"></i> History</a>
 </li> 
 <li class="darkercolor sidebarlistitem">
      <a href="{{ url_for('doctor.showUpcomingAppointments') }}"><i class="fa fa-fw fa-plus-square"></i>Upcoming Appointments</a>
 </li>
 {% endblock %}   





