 {% extends "doctor/baseDoctorTemplate.html" %}




{% block head %}
{{super()}}

<link href="{{url_for('static',filename='css/select2.min.css') }}" rel="stylesheet"/>
<script src="{{ url_for('static',filename='js/select2.full.min.js') }}"></script>


<style type="text/css">
	tr.tablehead{
		color:white;
		font-size: 18px

	}

	tr th{
		padding-left:20px;

	}

	.small {
		width:45px
	}
	.large{
		width:200px;
	}
	.box{
		box-shadow: 1px 1px 4px black;
		background-color:White;
	}
	#indication{
		font-size:30px;
		padding-left:5%;
		text-transform: uppercase;
	}
	#indcn{
		width:80%;
		margin-left:10%;
	}

	.jumbotron{
	margin-top:0px;
	}
	}
	.sex{
		text-transform: lowercase;
	}
	.sex::first-letter{
		text-transform: uppercase;
	}
</style>


{% endblock %}



{% block emptyspace %}

<div class="jumbotron lightestcolor">
<table cellpadding="10pt">
	<tr>
		<td><b><i class="fa fa-slack"></i> &nbsp;Name </b></td>
		<td>:</td>
		<td style="color:red"> <a href="{{url_for('doctor.viewPatientProfile',patientID=patient.patientID)}}" target="_blank"><b><i>{{patient.name}}</i></b></a></td>
	</tr>
	<tr>
		<td><b>Sex </b></td>
		<td>:</td>
		<td id="#sex">{{patient.sex}}</td>
	</tr>
 	<tr>
		<td><b>Department </b></td>
		<td>:</td>
		<td>{{patient.dept}}</td>
	</tr>
	<tr>
		<td><b>Course </b></td>
		<td>:</td>
		<td>{{patient.course}}</td>
	</tr>
	<tr>
		<td><b><span class="glyphicon glyphicon-tint" style="color:red"></span> &nbsp;Blood Group </b></td>
		<td>:</td>
		<td>{{patient.blood}}</td>
	</tr>

	<tr>
		<td><b>Allergic to</b> </td>
		<td>:</td>
		<td></td>
	</tr>



</table>
</div>




<!-- DOCTOR enters PRESCRIPTION DETAILS!! here on -->
<form class="box" action="{{ url_for('doctor.addPrescription') }}"  method="post">
	<input type="hidden" name="PATIENTID" value="{{ patient.patientID }}" />
	<input type="hidden" name="DOCTORID" value="{{ doctor.doctorID }}" />

	<div class="form-group lightestcolor" style="margin-bottom: 0px">
  		<label  class="tablehead semibold" id="indication" for="indcn">Diagnosis</label>
  		<input type="text" name="INDICATION" class="form-control" id="indcn" placeholder="Enter indication here ( eg. Fever ) ">
	</div>
	
	<div class="jumbotron" >
	<table class="table table-condensed" >
	<tr class="tablehead semibold darkercolor">
	   <th>DRUG NAME </th>
	   <th >QTY</th>
	   <th>SCHEDULE</th>
	   <th>COMMENTS</th>  
	</tr>
	{% for row in range(5) %}
     		<tr>
	   			<td>
	   				<select class="js-example-basic-single" name='DRUG_NAME{{row}}'>
	   				  {% for drug in druglist %} 
	   				   <option value="{{drug}}">{{drug}}</option>
	   				   {% endfor %}
	   				</select>   
    
  	   			</td>
	   			<td ><input type="text" class="small" name='DRUG_QTY{{row}}' /></td>
	   			<td><input type="text"  class="large" name='DRUG_SCHEDULE{{row}}' /></td>
	   			<td style="width:200px"><input type="text" class="large" name='DRUG_COMMENTS{{row}}' /></td>
	   		</tr>
    {% endfor %}
	</table>
	</div>

    <input class="btn btn-success" style="width:20%; float:right" type="submit" value="Done" /> 
</form>
{% endblock %}


{% block extrascripts %}
<script>
$(document).ready(function() {
  $(".js-example-basic-single").select2();
});
</script>
{% endblock %}