{% extends "doctor/baseDoctorTemplate.html" %}


{% block head %}
{{super()}}
{% endblock %}


{% block pageheader %}
<h1>{{patient.name}}</h1>
{% endblock %}

{% block breadcrumb %}
Patient Profile
{% endblock %}



{% block emptyspace %}
<div class="jumbotron lightestcolor">
<table cellpadding="10pt">
	<tr>
		<td><b><i class="fa fa-slack"></i> &nbsp;Roll number </b></td>
		<td>:</td>
		<td>{{patient.rollno}}</td>
	</tr>
	<tr>
		<td><b>Date of Birth </b></td>
		<td>:</td>
		<td>{{patient.DOB.strftime("%d %B %Y")}}</td>
	</tr>
	<tr>
		<td><b>Sex </b></td>
		<td>:</td>
		<td>{{patient.sex}}</td>
	</tr>
 	<tr>
		<td><b>Department </b></td>
		<td>:</td>
		<td>{{patient.dept}}</td>
	</tr>
	<tr>
		<td><b>Course </b></td>
		<td>:</td>
		<td>{{patient.course}}</td>
	</tr>
	<tr>
		<td><b><i class="fa fa-phone"></i> &nbsp;Contact number </b></td>
		<td>:</td>
		<td>{{patient.phno}}</td>
	</tr>
	<tr>
		<td><b><span class="glyphicon glyphicon-envelope"></span> &nbsp;Email </b></td>
		<td>:</td>
		<td>{{patient.email}}</td>
	</tr>
	<tr>
		<td><b><span class="glyphicon glyphicon-home"></span> &nbsp;Local Address </b></td>
		<td>:</td>
		<td>{{patient.locAddr}}</td>
	</tr>
	<tr>
		<td><b><span class="glyphicon glyphicon-home"></span> &nbsp;Permanent Address </b></td>
		<td>:</td>
		<td>{{patient.permAddr}}</td>
	</tr>
	<tr>
		<td><b><i class="fa fa-phone"></i> &nbsp;Guardian Ph.no </b></td>
		<td>:</td>
		<td>{{patient.gaurdianPhno}}</td>
	</tr>
	<tr>
		<td><b><span class="glyphicon glyphicon-tint" style="color:red"></span> &nbsp;Blood Group </b></td>
		<td>:</td>
		<td>{{patient.blood}}</td>
	</tr>

	<tr>
		<td><b>Allergic to</b> </td>
		<td>:</td>
		<td></td>
	</tr>


</table>
</div>

<hr />

<div>
<h2>Medical History</h2>
 {%for prescription in prescriptionList %}
  <div class="row" >
    <div class="visit col-md-12 ">
      <div class="visit-title lightestcolor2" style="border-radius:5px">
        <p class="visit-date pull-right"> {{ prescription.prescriptionDateTime.strftime(" %d %B %Y") }} <i class="fa fa-angle-down" aria-hidden="true"></i></p>
        <p class="ailment"> {{ prescription.indication }} </p>
      </div>
      <div class="visit-desc lightestcolor pad">
        <p class="pres-id pull-right"> Presc.ID : {{  prescription.prescriptionID }}</p>
        <p class="doctor-name"> Dr. {{ prescription.doctor.doctorName}} </p>

      <table class="table greentable lightestcolor2"> 
        <tr class="tableheading darkestcolor">
             <th>Medicine Name</th>
             <th>Schedule</th>
             <th>Comments</th> 
        </tr>
        {%for drug in prescription.prescriptionDrugs %}
        <tr>
            <td>{{drug.drugName}}</td>
            <td>{{drug.drugSchedule}}</td>
            <td>{{drug.drugComments}}</td>
        </tr>
        {% endfor %}
      </table>
     

      </div>
    </div>
  </div>
  {% endfor %}
  

</div>

{% endblock %}



{%block extrascripts %}
<script type="text/javascript" >
$( window ).load(function(){
  heading = $(".visit-title");
  content = heading.next();
  content.slideToggle(500);
});


$(".visit-title").click(function(){
  heading = $(this);
  content = heading.next();
  content.slideToggle(500);
});
</script>

{%endblock%}