{% extends "doctor/baseDoctorTemplate.html" %}

{% block head %}
{{super()}}
<style>

.app-item{
	border-radius:5px;
	list-style-type:none;
	font-size:23px;
	color:white;
	padding:10px;
	margin-top: 3px;
	border-top:5px solid #33E3FF;
}

.line{
	color:white;
	background-color: white;
	height: 2px;
}
.block{
	padding:15px;
	margin:10px;
	border-radius:7px;
	border-left:10px solid WHITE;

}


a.patient-name:link{
	color:rgb(200,200,250);
	text-decoration:none;
}
a.patient-name:active{
	color:rgb(150,150,200);
	text-decoration:none;
}

a.patient-name:visited{
	color:rgb(150,150,200);
	text-decoration:none;
}

a.patient-name:hover{
	color:white;
	text-decoration:none;
}







  
  
</style>
{% endblock %}

{% block pageheader %}
Upcoming Appointments
{% endblock %}


{% block emptyspace %}

{% set THIS_DATE = [] %}
<div class="lightestcolor2 block col-md-10">
<ul>
{% if bookedAppointments is defined %}
	{% for app in bookedAppointments%}
		{{ THIS_DATE }}
		{% if THIS_DATE != app.date.strftime("%Y-%m-%d") %}
				{% if THIS_DATE != "0000-00-00"%}
				     </div>
				{% endif %}
				{% set THIS_DATE = app.date.strftime("%Y-%m-%d") %}

			 	<h3>{{app.date.strftime("%B %d %Y")}}</h3>
			 	<h3>{{ THIS_DATE}}</h3>

				<hr class="line" />
		{% endif %}
		{{ THIS_DATE }}
		<li class="app-item darkestcolor">
			<a class="patient-name" href={{url_for('doctor.viewPatientProfile',patientID=app.patientID)}} >
				{{app.patientName}}
			</a>
				<span class="patient-type" style="float:right">({{app.patientType}})</span>
		</li>
	{% endfor %}

{% else %}
	No appointments Booked
{% endif %}
	</ul>
	</div>

{% endblock %}
