{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NITK HCC - PROFILE{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ stu.name}}'s Profile!</h1>
</div>
<div class="col-md-4">
    <br>
    <p><b>Roll Number :</b> {{stu.rollno}}</p>
	<p><b>Blood group :</b> {{stu.blood}}</p>
	<p><b>Phone Number :</b> {{stu.phno}}</p>
	<p><b>Local Address :</b> {{stu.locAddr}}</p>
	<p><b>Permanent Address:</b> {{stu.permAddr}}</p>
	<p><b>Allergic to :</b> </p>
	<p><b>Guardian Phno:</b> {{stu.guardianPhno}}</p>
	
</div>
{% endblock %}