{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}NITK HCC - PROFILE{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ stu[1]}}'s Profile!</h1>
</div>
<div class="col-md-4">
    <br>
    <p><b>Roll Number :</b> {{stu[0]}}</p>
	<p><b>Blood group :</b> {{stu[9]}}</p>
	<p><b>Phone Number :</b> {{stu[3]}}</p>
	<p><b>Local Address :</b> {{stu[4]}}</p>
	<p><b>Permanent Address:</b> {{stu[5]}}</p>
	<p><b>Allergic to :</b> {{stu[7]}}</p>
	<p><b>Guardian Phno:</b> {{stu[8]}}</p>
	
</div>
{% endblock %}